body {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
  gap: 30px 50px;
}
